
.followerLogin {
  font-size: 6px;
}

.followers {
  display: flex;
  overflow-x: auto;
}

.profilePic {
  width: 300px;
}

button {
  margin:5px;
}

.card{
  width: 300px;
  margin: 5px;
  padding: 5px;
}